<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:remove="all">Registration confirmation</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="font-family: calibri, 'DejaVu Sans', Arial, Helvetica, sans-serif; text-align:center;">
<h1>Confirm your account</h1>
<div>Welcome to MySNS <b th:text="${email}">name</b> !</div>
<p>
  Your account has been created on our platform. here is your login information
  <br/><br/>
  Email address : <b th:text="${email}">email</b><br/>
  <br/>
  To confirm the validity of your email address, please click on the link below
</p>
<p>
  <a style="background-color: #000;border: solid 1px #000;background-color: #000;text-decoration: none;color: #fff;font-weight: bold;display: block;padding: 10px 0;" class="link" id="link" href="#" th:href="${url}">
    Confirm account
  </a>
</p>
<br>
<p>
  <img src="/images/podo.jpg" data-th-src="|cid:springLogo|" height="80" />
</p>
<p>
  Regards, The MySNS Team
</p>
</body>
</html>