

.qna {
	width: 70rem;
	height: 55rem;
}

.qna_info {
	margin: 1.5rem;
	width: 10rem;
	height: 10rem;
}

.qna_info > span {
	margin-top: 18rem
}

.search {
	display: inline-block;
	width:20rem;
}

.btn_search {
	font-size: 0.9rem;
}

.btn_add {
  margin :0px 4px;
  width:3rem !important;
	font-size: 0.9rem;
}