<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout" xmlns:mailto="http://www.w3.org/1999/xhtml"
	  layout:decorate="~{layout/private_layout}">
<th:block layout:fragment="content">

	<link rel="stylesheet" type="text/css" href="/static/css/about.css">
	<div id="main">

		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title bg-white text-center text-primary px-3">About US</h6>
					<h1 class="mb-5">Welcome to MySNS</h1>
					<p class="mb-4">
						많은 SNS 로그인을 사용하는 사용자입니다
						<br>
						가끔 어떠한 사이트에 어떠한 로그인이 사용했는지 기억이 안나더라구요
						<br>
						이미 계정 있는데 다른 계정으로 또하고, 나중에 알고
						<br>
						자기 자신의 기억력을 믿기보다 컴퓨터를 믿기 위해 만들었습니다
					</p>
				</div>
			</div>
		</div>

		<!-- Team Start -->
		<div class="container-xxl py-5">
			<div class="container">
				<div class="text-center wow fadeInUp" data-wow-delay="0.1s">
					<h6 class="section-title bg-white text-center text-primary px-3">Instructors</h6>
					<h1 class="mb-5">Instructors</h1>
				</div>
				<div class="row g-4">
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="static/images/hdh.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href="mailto:dnd.dev.hdh@gmail.com?subject=안녕하세요."><i class="fab fa-facebook-f"></i></a>
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">동화</h5>
								<small>많은 SNS 로그인을 사용하는 사용자입니다
									<br>
									가끔 어떠한 사이트에 어떠한 로그인이 사용했는지 기억이 안나더라구요
									<br>
									이미 계정 있는데 다른 계정으로 또하고, 나중에 알고
									<br>
									자기 자신의 기억력을 믿기보다 컴퓨터를 믿기 위해 만들었습니다</small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="static/images/khj.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href="mailto:anc.janekim@gmail.com?subject=안녕하세요."><i class="fab fa-facebook-f"></i></a>
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">희진</h5>
								<small>웹 프로젝트의 전반적인 이해를 높였던 기회였습니다.<br>
									무수한 확장성을 보았고 좋은 팀원과의 값진 시간이었습니다.<br>
									MySNS팀 영원해라~!! </small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="static/images/ygh.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href="mailto:anc.summer22@gmail.com?subject=안녕하세요."><i class="fab fa-facebook-f"></i></a>
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">가희</h5>
								<small>지금의 팀원들과 함께해서 프로젝트를 잘 마칠수있었습니다.<br>
									단기 프로젝트였지만 많은 걸 배웠고 다음엔 더 도움이 되는 사람이 되겠습니다.<br>
									mysns팀 zzang∩(´∀`∩)</small>
							</div>
						</div>
					</div>
					<div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
						<div class="team-item bg-light">
							<div class="overflow-hidden">
								<img class="img-fluid" src="static/images/jis.jpg" alt="">
							</div>
							<div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
								<div class="bg-light d-flex justify-content-center pt-2 px-1">
									<a class="btn btn-sm-square btn-primary mx-1" href="mailto:suck0818@gmail.com?subject=안녕하세요."><i class="fab fa-facebook-f"></i></a>
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-twitter"></i></a>
									<a class="btn btn-sm-square btn-primary mx-1" href=""><i class="fab fa-instagram"></i></a>
								</div>
							</div>
							<div class="text-center p-4">
								<h5 class="mb-0">인석</h5>
								<small>이 사이트가 잘 돼서 맥북 값을 벌겠다는 마음으로 맥북을 먼저 구입했습니다.<br>
									많은 이용 부탁드려요.<br></small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!-- js -->
</th:block>
</html>