<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">
	<th:block layout:fragment="content">
		<div class="container-login100">
			<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
				<div class="login100-form validate-form">
					<span class="login100-form-title p-b-37">
						not support service
					</span>
					<hr>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn" onclick="location.href='/auth/login'">
							<!-- TODO : 로그인 페이지로 리다이렉션 -->
							go to home
						</button>
					</div>
			</div>
		</div>
	</th:block>
</html>