<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/private_layout}">
	<th:block layout:fragment="content">
		<link rel="stylesheet" type="text/css" href="/static/css/profile.css">
		<div id="main">
			<div class="container-login100">
				<div class="wrap-login100 p-l-20 p-r-20 p-t-30 p-b-30 profile">
					<form class="login100-form validate-form text-left">
						<div class="flex-c">
							<div class="mr-5">
								<img src="/static/images/hdh.jpg" alt="" srcset="" style="height:10rem;width:10rem; border-radius:20%;">
								<div class="m-2 mt-4 font-weight-bold h6">
									안녕 내 이름은 포도야
								</div>
							</div>
		
							<div class="ml-5">
								<canvas width="180" height="180" id="myChart"></canvas>
							</div>
						</div>
						<hr>
						<div class="flex-c p-2 w-100">
							<input type="text" class="form-control search float-left" placeholder="google.com">
							<button type="button" class="btn btn-primary btn-lg float-left btn_search">
								Search
							</button>
							<button onclick="location.href='./connect.html'" type="button" class="btn btn-primary float-right btn_add" style="padding: 0 !important;">
								<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
									<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
								</svg>
							</button>
						</div>
		
						<div class="flex-c p-2 w-100">
							<table class="table table-striped mt-3">
								<thead>
								<tr>
									<th scope="col">#</th>
									<th scope="col">Site</th>
									<th scope="col">Sync SNS Login</th>
								</tr>
								</thead>
								<tbody>
								<tr>
									<th scope="row">3</th>
									<td>youtube.com</td>
									<td>
										<!-- <img class="mr-1 ml-1" src="/static/images/icons/icon-insta.png" alt="INSTAGRAM" width="35px" height="35px" class="m-t-5"> -->
									</td>
								</tr>
								<tr>
									<th scope="row">2</th>
									<td>coupang.com</td>
									<td>
										<!-- <img class="mr-1 ml-1" src="/static/images/icons/icon-naver.png" alt="NAVER" width="35px" height="35px" class="m-t-5"> -->
									</td>
								</tr>
								<tr>
									<th scope="row">1</th>
									<td class="text-danger font-weight-bold">ikea.com</td>
									<td>
										<!-- <img class="mr-1 ml-1" src="/static/images/icons/icon-facebook.png" alt="FACEBOOK" width="35px" height="35px" class="m-t-5">
										<img class="mr-1 ml-1" src="/static/images/icons/icon-naver.png" alt="NAVER" width="35px" height="35px" class="m-t-5"> -->
									</td>
								</tr>
								</tbody>
							</table>
		
		
						</div>
					</form>
				</div>
			</div>
		</div>

		<!-- js -->
		<!-- <script src="/static/js/signin.js"></script> -->
	</th:block>
</html>