<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/private_layout}">
	<!-- custom css -->
	<th:block layout:fragment="content">
	<link rel="stylesheet" type="text/css" href="/static/css/qna.css">

	<div id="main">
		<div class="container-login100">
			<div class="wrap-login100 p-l-20 p-r-20 p-t-30 p-b-30 qna">
				<form class="login100-form validate-form text-left">
					<div class="flex-c w-100">
						<p class="h1 m-4">
							Q&A
						</p>
					</div>
					<hr>
					<div class="flex-c p-2 w-100">
						<input type="text" class="form-control search float-left" placeholder="google.com">
						<button type="button" class="btn btn-primary btn-lg float-left btn_search">
							Search
						</button>
						<!-- <button type="button" class="btn btn-primary float-right btn_add" style="padding: 0 !important;">
							<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
								<path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
							</svg>
						</button> -->
						<!-- <button type="button" class="btn btn-primary btn-lg float-left btn_search">
							Show [mine|all]
						</button> -->
					</div>


					<hr>
					<!-- 연동중인 로고 표시 -->
					<div class="flex-c p-2 w-100">
						<table class="table table-striped">
							<thead>
							<tr>
								<th scope="col">#</th>
								<th scope="col">Question</th>
								<th scope="col">Written</th>
							</tr>
							</thead>
							<tbody>
							<tr>
								<th scope="row">1</th>
								<td>Mark</td>
								<td>Otto</td>
							</tr>
							<tr>
								<th scope="row">2</th>
								<td>Jacob</td>
								<td>Thornton</td>
							</tr>
							<tr>
								<th scope="row">3</th>
								<td>Larry</td>
								<td>the Bird</td>
							</tr>
							</tbody>
						</table>
					</div>
					<hr>
					<div class="flex-c p-2 w-100">
						<nav aria-label="Page navigation example">
							<ul class="pagination">
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Previous">
										<span aria-hidden="true">&laquo;</span>
										<span class="sr-only">Previous</span>
									</a>
								</li>
								<li class="page-item active"><a class="page-link" href="#">1</a></li>
								<li class="page-item"><a class="page-link" href="#">2</a></li>
								<li class="page-item"><a class="page-link" href="#">3</a></li>
								<li class="page-item">
									<a class="page-link" href="#" aria-label="Next">
										<span aria-hidden="true">&raquo;</span>
										<span class="sr-only">Next</span>
									</a>
								</li>
							</ul>
						</nav>
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- js -->
	<!-- <script src="/js/signin.js"></script> -->
</th:block>

</html>