<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

<th:block layout:fragment="content">
    <div class="container-login100">
        <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">

            <form th:action="@{/auth/email/join}" method="POST"  name="joinForm">
                    <span class="login100-form-title p-b-37">
                        MySNS JOIN
                    </span>

                <div class="wrap-input100 validate-input m-b-20" >
                    <input class="input100" th:text="${email}"  style="text-align: center;padding: 10px" readonly >
                    <input type="hidden" th:value="${email}" id="userEmail" name="userEmail">
                </div>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
                    <input class="input100" type="text" id="username" name="username" placeholder="이름" >
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter pw">
                    <input class="input100" type="password" id="pw" name="pw" placeholder="비밀번호" onkeyup="chkPw()" >
                    <span class="focus-input100"></span>
                </div>

                <div class="wrap-input100 validate-input m-b-20" data-validate="Enter pw">
                    <input class="input100" type="password" id="pw2" name="pw2" placeholder="비밀번호" onkeyup="chkPw()" >
                    <span class="focus-input100"></span>
                    <span id="checkMessage"></span>
                </div>


                <div class="container-login100-form-btn">
                    <button class="login100-form-btn" id="btn_join" onclick="return joinSubmit();">
                        <span class="mr-2" id="btn_join_text">Join</span>


                        <div class="wrapper" id="checker">
                            <svg class="checkmark" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52">

                                <path class="checkmark_check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8" />
                            </svg>
                        </div>
                    </button>
                </div>

                <hr>
                <div class="text-center">
                    <a href="/auth/loginPage" class="txt2 hov1">
                        Sign In
                    </a>
                </div>
                <!-- </div>-->
            </form>
        </div>
    </div>
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    <!-- js -->
    <script src="/js/signup.js"></script>
</th:block>
</html>