<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/default_layout}">

    <th:block layout:fragment="content">
        <div class="container-login100">
            <div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
                <div action="/mailAccept"  method="post"  class="login100-form validate-form" >
    
                    <span class="login100-form-title p-b-37">
                        MySNS
                    </span>
    
                    <div class="wrap-input100 validate-input m-b-20" data-validate="Enter username or email">
                        <input class="input100" type="text" id="username" name="username" placeholder="username or email" value="hdh0926@naver.com">
                        <span class="focus-input100"></span>
                    </div>
    
                    <div class="container-login100-form-btn">
                        <!-- <input type="submit" value="Send email" > -->
                        <button class="login100-form-btn" onclick="send_email()">
                            Send email
                        </button>
                    </div>
                    <hr>
                    <div class="text-center">
                        <a href="./login" class="txt2 hov1">
                            Sign In
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- js -->
        <script src="/js/signup.js"></script>
    </th:block>
</html>