<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net/nz/thymeleaf/layout"
      layout:decorate="~{layout/private_layout}">
	<th:block layout:fragment="content">
		<div id="main">
			<div class="container-login100">
				<div class="wrap-login100 p-l-20 p-r-20 p-t-30 p-b-30">
					<div class="login100-form validate-form text-left">
						<div class="flex-c p-2">
							<img src="/static/images/hdh.jpg" alt="" srcset="" style="height:5rem;width:5rem; border-radius:20%;">
							<strong style="width:5rem; height: 5rem; line-height: 5rem; text-align:center">동화</strong>
						</div>
						<hr>

						<div class="flex-c p-2 w-100 sync">
							<!-- TODO : QR 코드는 백엔드에서 URL 로 만들어 줘야 함 -->
							<!-- 링크를 js 에서 만들어도 됌 -->
							<img src="/static/images/mysns.info.png" alt="NAVER" width="35px" height="35px" class="m-t-5 m-r-20">
							<img src="/static/images/icons/icon-naver.png" alt="NAVER" width="35px" height="35px" class="m-t-5">
							<p class="common_title">Naver</p>
							<div class="flex-r">
								<a href="#" class="login100-social-item" th:text="${naver}">

								</a>
							</div>
						</div>
						<div class="flex-c p-2 w-100 unsync">
							<!-- TODO : QR 코드는 백엔드에서 URL 로 만들어 줘야 함 -->
							<img src="/static/images/mysns.info.png" alt="INSTAGRAM" width="35px" height="35px" class="m-t-5 m-r-20">
							<img src="/static/images/icons/icon-insta.png" alt="INSTAGRAM" width="35px" height="35px" class="m-t-5">
							<p class="common_title">Instagram</p>
							<div class="flex-r">
								<a href="#" class="login100-social-item" th:text="${insta}">

								</a>
							</div>
						</div>
						<div class="flex-c p-2 w-100 unsync">
							<!-- TODO : QR 코드는 백엔드에서 URL 로 만들어 줘야 함 -->
							<img src="/static/images/mysns.info.png" alt="Facebook" width="35px" height="35px" class="m-t-5 m-r-20">
							<img src="/static/images/icons/icon-facebook.png" alt="FACEBOOK" width="35px" height="35px" class="m-t-5">
							<p class="common_title">Facebook</p>
							<div class="flex-r">
								<a href="#" class="login100-social-item" th:text="${facebook}">

								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- js -->
		<!-- <script src="/static/js/signin.js"></script> -->
	</th:block>
</html>